In [0]:
import pandas as pd
from nltk import NaiveBayesClassifier

In [0]:
data = pd.read_csv('/content/UCI_Credit_Card.csv')

In [0]:
data.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0
4   5    50000.0    1  ...     689.0     679.0                           0

[5 rows x 25 columns]

In [0]:
 data = data.drop('ID',1)

In [0]:
data.isna().sum()/data.shape[0]

LIMIT_BAL                     0.0
SEX                           0.0
EDUCATION                     0.0
MARRIAGE                      0.0
AGE                           0.0
PAY_0                         0.0
PAY_2                         0.0
PAY_3                         0.0
PAY_4                         0.0
PAY_5                         0.0
PAY_6                         0.0
BILL_AMT1                     0.0
BILL_AMT2                     0.0
BILL_AMT3                     0.0
BILL_AMT4                     0.0
BILL_AMT5                     0.0
BILL_AMT6                     0.0
PAY_AMT1                      0.0
PAY_AMT2                      0.0
PAY_AMT3                      0.0
PAY_AMT4                      0.0
PAY_AMT5                      0.0
PAY_AMT6                      0.0
default.payment.next.month    0.0
dtype: float64

In [0]:
data.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [0]:
from sklearn.model_selection import train_test_split as tts
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report

In [0]:
x_train,x_test,y_train,y_test = tts(data.drop('default.payment.next.month',1) , data['default.payment.next.month'])

In [0]:
Model = GaussianNB()

In [0]:
Model.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [0]:
print(classification_report(y_test,Model.predict(x_test)))

              precision    recall  f1-score   support

           0       0.89      0.24      0.38      5829
           1       0.25      0.89      0.39      1671

    accuracy                           0.39      7500
   macro avg       0.57      0.57      0.39      7500
weighted avg       0.75      0.39      0.38      7500