In [1]:

import pandas as pd
import numpy as np
import math
import nltk
from textblob import TextBlob
import json
from sklearn.metrics import confusion_matrix
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA
nltk.download('vader_lexicon')

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [0]:

the_data = pd.read_csv("https://raw.githubusercontent.com/zfz/twitter_corpus/master/full-corpus.csv")

In [5]:
the_data.head()

   Topic  ...                                          TweetText
0  apple  ...  Now all @Apple has to do is get swype on the i...
1  apple  ...  @Apple will be adding more carrier support to ...
2  apple  ...  Hilarious @youtube video - guy does a duet wit...
3  apple  ...  @RIM you made it too easy for me to switch to ...
4  apple  ...  I just realized that the reason I got into twi...

[5 rows x 5 columns]

In [6]:

the_data.shape

(5113, 5)

In [7]:
the_data.Sentiment.unique()

array(['positive', 'negative', 'neutral', 'irrelevant'], dtype=object)

In [0]:

the_data = the_data[the_data["Sentiment"] != "irrelevant"]

In [9]:
the_data.Sentiment.unique()

array(['positive', 'negative', 'neutral'], dtype=object)

In [0]:
test = "I hate this product"

In [11]:
mysia = SIA()
print(mysia.polarity_scores(abc))
compound = mysia.polarity_scores(abc)

{'neg': 0.649, 'neu': 0.351, 'pos': 0.0, 'compound': -0.5719}

In [12]:
compound["compound"]

-0.5719

In [0]:
def sentiment_nltk(str):
  mysia = SIA()
  compound = mysia.polarity_scores(str)
  if compound["compound"] < -0.05:
    sentiment = "negative"
  elif compound["compound"] > 0.05:
    sentiment = "positive"
  else:
    sentiment = "neutral"
  return sentiment

In [15]:
sentiment_nltk(test)

'negative'

In [16]:


the_data["NLTK_Sentiment"] = the_data["TweetText"].apply(sentiment_nltk)
the_data.head()

   Topic  ... NLTK_Sentiment
0  apple  ...        neutral
1  apple  ...       positive
2  apple  ...       positive
3  apple  ...       positive
4  apple  ...       positive

[5 rows x 6 columns]

In [17]:
TextBlob(test).sentiment.polarity

-0.8

In [0]:
def textblob_sentiment(str):
  score = TextBlob(str).sentiment.polarity
  if score < 0:
    sentiment = "negative"
  elif score > 0:
    sentiment = "positive"
  else:
    sentiment = "neutral"
  return sentiment

In [19]:

the_data["TextBlob_Sentiment"] = the_data["TweetText"].apply(textblob_sentiment)
the_data.head()

   Topic Sentiment  ...  NLTK_Sentiment TextBlob_Sentiment
0  apple  positive  ...         neutral            neutral
1  apple  positive  ...        positive           positive
2  apple  positive  ...        positive           positive
3  apple  positive  ...        positive           positive
4  apple  positive  ...        positive           positive

[5 rows x 7 columns]

In [23]:

confusion_matrix(the_data["Sentiment"],the_data["NLTK_Sentiment"])

array([[ 291,  138,  143],
       [ 302, 1234,  797],
       [  47,   99,  373]])

In [24]:
confusion_matrix(the_data["Sentiment"],the_data["TextBlob_Sentiment"])

array([[ 234,  171,  167],
       [ 201, 1213,  919],
       [  38,  124,  357]])